<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="gripper_gazebo_sim">

  <!-- Dummy world link -->
  <link name="world"/>

  <!-- Fixed joint connecting world to base_link -->
  <joint name="world_to_base" type="fixed">
    <parent link="world"/>
    <child link="base_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>


  <link
    name="base_link">
    <inertial>
      <origin
        xyz="7.34854962107373E-05 4.91777501359862E-05 0.0424495526132488"
        rpy="0 0 0" />
      <mass
        value="0.377123905999207" />
      <inertia
        ixx="0.000307540396731287"
        ixy="-2.58937492375498E-07"
        ixz="-6.43799804375433E-07"
        iyy="0.0004529231000964"
        iyz="1.29583624940918E-05"
        izz="0.000219729126664532" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="assets/contactile/gal2/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="assets/contactile/gal2/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="link1">
    <inertial>
      <origin
        xyz="-0.0205537726028013 0.0106165651980014 0.051337097614248"
        rpy="0 0 0" />
      <mass
        value="0.0298219889140745" />
      <inertia
        ixx="2.98149919149656E-05"
        ixy="-2.82671166592861E-10"
        ixz="-1.94168311352801E-09"
        iyy="3.1521794066348E-05"
        iyz="-5.33477835230874E-08"
        izz="2.66094662679502E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="assets/contactile/gal2/meshes/link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="assets/contactile/gal2/meshes/link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="b_to_l1"
    type="revolute">
    <origin
      xyz="-0.0375 0.0205 0.0609"
      rpy="0 0 1.5708" />
    <parent
      link="base_link" />
    <child
      link="link1" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="0"
      upper="1.0472"
      effort="10"
      velocity="1" />
  </joint>
  <link
    name="finger1">
    <inertial>
      <origin
        xyz="0.000563738679013409 0.0337758666794904 -0.00655751573328261"
        rpy="0 0 0" />
      <mass
        value="0.0183214293899292" />
      <inertia
        ixx="2.91955064379571E-06"
        ixy="-3.907909717534E-07"
        ixz="3.03726030189771E-08"
        iyy="1.06456783418674E-06"
        iyz="5.51358702009101E-08"
        izz="2.78778566645044E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="assets/contactile/gal2/meshes/finger1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="assets/contactile/gal2/meshes/finger1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="l1_to_f1"
    type="revolute">
    <origin
      xyz="-0.0136750000000002 0.00829340101189021 0.109686915808842"
      rpy="1.5707963267949 -0.872664625997159 1.5707963267949" />
    <parent
      link="link1" />
    <child
      link="finger1" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
    <mimic
      joint="b_to_l1"
      multiplier="-1"
      offset="0" />
  </joint>
  <link
    name="coupler1">
    <inertial>
      <origin
        xyz="0.00344544835936102 0.052483191065121 -0.0204953855509735"
        rpy="0 0 0" />
      <mass
        value="0.0141912857356995" />
      <inertia
        ixx="1.84119653760374E-05"
        ixy="-1.08451650934639E-06"
        ixz="-5.13994702636591E-11"
        iyy="2.63494365079147E-06"
        iyz="2.18550056071356E-09"
        izz="1.62952608199251E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="assets/contactile/gal2/meshes/coupler1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="assets/contactile/gal2/meshes/coupler1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="b_to_c1"
    type="revolute">
    <origin
      xyz="-0.0195 0.0205 0.0699"
      rpy="1.5708 0 3.1416" />
    <parent
      link="base_link" />
    <child
      link="coupler1" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
    <mimic
      joint="b_to_l1"
      multiplier="1"
      offset="0" />
  </joint>
  <link
    name="coupler2">
    <inertial>
      <origin
        xyz="0.00344544835938911 -0.0524831910651041 -0.0205046144490271"
        rpy="0 0 0" />
      <mass
        value="0.0141912857315129" />
      <inertia
        ixx="1.84119654170656E-05"
        ixy="1.08451650914108E-06"
        ixz="5.13982428232034E-11"
        iyy="2.63494364969281E-06"
        iyz="2.18551295912077E-09"
        izz="1.62952608613147E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="assets/contactile/gal2/meshes/coupler2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="assets/contactile/gal2/meshes/coupler2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="b_to_c2"
    type="revolute">
    <origin
      xyz="0.0195 0.0205 0.0699"
      rpy="-1.5708 0 0" />
    <parent
      link="base_link" />
    <child
      link="coupler2" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
    <mimic
      joint="b_to_l2"
      multiplier="1"
      offset="0" />
  </joint>
  <link
    name="link2">
    <inertial>
      <origin
        xyz="0.0106018083502305 -0.0512657399081428 -0.0204787900923537"
        rpy="0 0 0" />
      <mass
        value="0.0298219889140743" />
      <inertia
        ixx="3.15217940663475E-05"
        ixy="5.33477835164525E-08"
        ixz="2.82671166611019E-10"
        iyy="2.66094662679496E-06"
        iyz="-1.94168311362777E-09"
        izz="2.98149919149652E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="assets/contactile/gal2/meshes/link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="assets/contactile/gal2/meshes/link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="b_to_l2"
    type="revolute">
    <origin
      xyz="0.0375 0.0205 0.0609"
      rpy="-1.5708 0 0" />
    <parent
      link="base_link" />
    <child
      link="link2" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
    <mimic
      joint="b_to_l1"
      multiplier="-1"
      offset="0" />
  </joint>
  <link
    name="finger2">
    <inertial>
      <origin
        xyz="0.0257982175417586 0.0221646169398035 -0.00682748426671731"
        rpy="0 0 0" />
      <mass
        value="0.0168683354498972" />
      <inertia
        ixx="2.13233031330755E-06"
        ixy="-9.81260866397316E-07"
        ixz="-2.27133940894173E-08"
        iyy="1.68473674021975E-06"
        iyz="-5.87074179801802E-08"
        izz="2.78131210059902E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="assets/contactile/gal2/meshes/finger2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="assets/contactile/gal2/meshes/finger2.STL" />
      </geometry>
    </collision>
  </link>
<joint
  name="l2_to_f2"
  type="revolute">
  <origin
    xyz="0.00858016781026817 -0.109664856359469 -0.0134"
    rpy="0 0 3.1416" />
  <parent
    link="link2" />
  <child
    link="finger2" />
  <axis
    xyz="0 0 -1" />
  <limit
    lower="0"
    upper="0"
    effort="0"
    velocity="0" />
  <mimic
    joint="l1_to_f1"
    multiplier="-1"
    offset="0" />
</joint>




</robot>